body {
  background-color: #1E788C;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;;
}

.side-nav.fixed {
  background-color: #50B9DC !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2) !important;
  position: fixed;
  left: 0;
  width: 300px !important;
}

/*ensures sidebar space is left undisturbed*/
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#logo-container > #front-page-logo {
  width: 150px !important;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 3px;
  padding-right: 10px !important;
}

#logo-container {
  height: auto;
}

#nav-mobile li.search .search-wrapper {
  margin-left: 13px;
  margin-right: 13px;
}

#nav-mobile {
  box-shadow: 0 5px 5px #888888;
}

.card {
  position: relative;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.search-wrapper > input {
  background-color: #FFFFFF !important;
  border-bottom: none !important;
  padding: 12px 20px;
  box-sizing: border-box !important;
  margin: 8px 0;
  padding: 0 5px !important;
  box-sizing: border-box;
  border-radius: 2px !important;
}

input:focus {
  border-bottom: none;
  color: #000000;
  box-shadow: 2px 5px 2px #000000;
}

.search-wrapper > i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #000000;
}

#customer-content {
  position: relative;
  top: 20px;
  right: 50px;
}

#account-information {
  position: relative;
  top: 20px;
  left: 40px;
}

.card {
  background-color: #E64B5F !important;
  color: white;
}

#feedback {
  position: relative;
  top: 15px;
  right: 50px;
  bottom: 15px;
  overflow: scroll;
  height: 460px;
}

.row {
  margin-left: auto !important;
}

#transaction-history {
  top: 30px;
  left: 40px;
  bottom: 15px;
  overflow: scroll !important;
  height: 560px;
}

.collapsible {
  padding: 5px;
  color: black;
}

.amount {
  position: relative;
}

td:first-child {
  font-weight: bold;
}

.emoji {
  width: 20px;
  display: inline-block;
  padding-top: 5px;
  padding-right: 5px;
}

.desc {
  display: inline-block;
}

.amount {
  display: inline-block;
  float: right;
  padding-top: 5px;
}

#balance {
  float: right;
}

.container {
  width: 80% !important;
}

.collapsible-body {
  background-color: white;
}

#feedback_areas > p > label {
  color: #000000;
}

#feedback_areas {
  padding: 5px;
  background-color: #FFFFFF;
}

form {
  font-size: 18px !important;
  font-family: 'Roboto', sans-serif !important;
}

#account_id {
  float: right;
}

#account_info {
  padding: 15px;
}

tr {
  line-height: 0.5;
}

#chips {
  display: inline-block;
  float: right;
}

#textarea1 {
  color: black;
}
